button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#mostrar-respuesta {
    margin-top: 20px;
    text-align: center;
    color: #888;
}